{% extends "base.html" %}
{% block title %}
Oferta - Dodaj/Edytuj
{% endblock %}

{% block header %}
<h2>Oferta - Dodaj/Edytuj</h2>
{% endblock %}

{% block content %}
<div>
	<form action=""
		  method="post"
		  enctype="multipart/form-data">
		{% csrf_token %}
		<table>
		{{ form }}
		</table>
		<button type="submit"
				class="btn btn-primary btn-sm">
			<i class="fa-solid fa-floppy-disk"></i> Zapisz
		</button>
		<a class="btn btn-secondary btn-sm"
			href="{% url "offer-list" %}">
			<i class="fas fa-undo"></i> Anuluj
		</a>
	</form>
</div>
{% endblock %}